.ExpenseItem {
  width: 100%;
  padding: .5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
  color: white;
  background-color: #444444;
}

.DateX {
  min-width: 6rem;
  border: 2px solid white;
  background-color: #2a2a2a;
  border-radius: .7rem;
  text-align: center;
  padding: .5rem 0;
}

.DateX .month {
  font-size: 0.75rem;
  font-weight: 600;
}

.DateX .year {
  font-size: .6rem;
}

.DateX .day {
  font-size: 2rem;
  font-weight: 700;
}

.ExpenseItem .desc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ExpenseItem .desc h2 {
  padding-left: .8rem;
  font-weight: 500;
  font-size: 1.2rem;
}

.ExpenseItem .desc div {
  border: 2px solid white;
  background-color: purple;
  border-radius: .5rem;
  padding: .5rem .8rem;
  font-weight: 500;
  font-size: .9rem;
}

.ExpenseItem .desc div > span {
  margin-left: .1rem;
}