* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #272727;
}

.App {
  width: 40rem;
  margin: 0 auto;
}

.App > h1 {
  text-align: center;
  margin-bottom: 1rem;
}